@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
}

nav{
    background-color: hsl(211, 53%, 29%);
    padding: 0 15px;
    width: 100%;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.menu{
    list-style-type: none;
    display: flex;
}

.author{
    font-size: 20px;
    padding: 10px;
    text-wrap: nowrap;
}

.item{
    padding: 10px 10px 0;
}

.item a{
    padding: 5px;
}

.item a:hover, .item.a:hover::after{
    background-color: hsl(211, 53%, 14%);
}

/* Mobile Menu */